@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
    padding: 0;
    margin: 0;
}

/* INICIO */

nav {
background: #000 !important;
}

nav a{
    color: blanchedalmond !important;
}

.dropdown-item{
    color: #000 !important;
}

.dropdown-item:hover{
    background-color: blanchedalmond !important;
}

.imginicio{
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.007)), url(/imagenes/inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hometitle{
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.lugares {
    display: flex;
    width: auto;
    margin: auto;
    padding-bottom: 3em;
    justify-content: space-around; }
  
.iniciocard:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease; }
    
.lugares p {
    padding: 5px;
    text-align: justify; }

.lugares h3{
    text-align: center;
}

.iniciocard {
    border: 1px solid rgba(5,0,71,0.15);
    width: 322px; }

.iniciocard img {
    display: block;
    margin: auto;
    width: 320px; height: 320px; }

.previaje{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: #000;
    color: lightblue;
    margin: 2em;
}

.button1{
    display: inline-block;
    text-decoration: none;
    background-color: #47BAEC;
    text-align: center;
    padding: 15px 32px;
    border: none;
    color: white;
    font-size: 1.3em;
}

.button1 a{
    text-decoration: none;
    color: #000;
}

.button1:hover{
    text-decoration: none;
    background-color: white;
}

.button1 a:hover{
    color: #47BAEC;
}



.formtext h3, p{
    text-align: center;
}

.formtext h3{
  font-family: 'Architects Daughter', cursive;
  font-size: 2.5em;
}
.forminicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border: 4px solid #f1f1f1;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #11CEE4;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }




/* FOOTER */

.aboutus p {
    text-align: justify; }
  
footer {
    position: relative;
    width: auto;
    height: auto;
    padding: 50px 100px;
    background-color: #DCDCDC; }
  
.footer p, a, span, ul {
    color: #138086; }
  
.footer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px; }
    
.footer ul {
    color: #138086; }
    
.footer h2 {
    color: #138086; }
  
footer h2 {
    position: relative;
    margin-bottom: 15px; }
    
footer h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0%;
    width: 50%;
    height: 2px;
    background-color: #000; }
  
.fredes {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    column-gap: 10px; }

.fredes li {
    list-style: none; }

.fredes li a {
    display: inline-block;
    width: 48px;
    height: 48px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px; }

.fredes li a:hover {
    background: blanchedalmond; }

.fredes li a .fa {
    color: #138086;
    font-size: 20px; }
  
.faccesos {
    position: relative; }

.faccesos li {
    list-style: none;
    margin-bottom: 10px;
    text-decoration: none; }

.faccesos li:hover {
    color: blanchedalmond; }

.faccesos a {
    text-decoration: none;
    color: #138086; }

.faccesos a:hover {
    color: blanchedalmond; }
  
.info {
    position: relative; }

.info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px; }

.info a {
    text-decoration: none;
    color: #138086; }

.info a:hover {
    color: blanchedalmond; }
  
.copyrightText {
    background-color: gray;
    text-align: center;
    color: #fff;
    padding: 5px; }